  #container{
      display: flex;
    }
    #sidebar{
      flex:2;
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      padding: 10px;

    }
    #sidebar input{
      margin: 5px 0px;
      padding: 5px;
    }
    #main{
      flex:8;
      border: 1px solid red;
      padding: 20px;
     
    }