  #container{
      display: flex;
    }
    #sidebar{
      flex:2;
      border: 2px solid black;
      border-radius: 9px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-right: 10px;
    }
    #sidebar input{
      margin: 5px 0px;
      padding: 5px;
    }
    #main{
      flex:8;
      border: 2px solid black;
      border-radius: 9px;
      padding: 20px;
     
    }